.nav-container{
 background-color:rgb(218, 218, 221) ;
 display: flex;
 border-radius: 2rem;
 padding: 1rem;
 justify-content: space-between;
 align-items: center;
}

.enlaces-nav{
  text-decoration: none;
  color:rgb(32, 155, 157); 
 
}

.logo-nav{
  width: 10rem;

}

